{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label for="username">
            Usuário:
            <input type="text" name="username" required>
        </label>
        <label for="email">
            Email:
            <input type="text" name="email" required>
        </label>
        <label for="password">
            Senha:
            <input type="password" name="password" required>
        </label>
        <button type="submit">Registrar-se</button>
    </form>
    <p>Efetuar <a href="{% url 'login' %}">Login</a></p>
</body>
</html>