{% extends 'base.html' %}
{% block content %}
    <h2>{% if leitor %}Editar{% else %}Criar{% endif %} Leitor</h2>
    <form method="post">
        {% csrf_token %}
        <label>Nome: <input type="text" name="nome" value="{{ leitor.nome }}" required></label>
        <label>Email: <input type="email" name="email" value="{{ leitor.email }}" required></label>
        <label>Data de Nascimento: <input type="date" name="data_nascimento" value="{{ leitor.data_nascimento }}" required></label>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}